* {
  margin: 0;
  padding: 0;
}

nav,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.head {
  width: 100%;
  height: 110px;
  background-color: white;
}

.head .head_center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.head .head_center img {
  display: block;
  float: left;
  width: 320px;
  height: 55px;
  margin: 24px 70px 0 0;
}

.head .head_center .head_btn {
  width: 400px;
  height: 40px;
  float: left;
  margin-top: 35px;
  background-color: red;
}

.head .head_center .head_btn input {
  float: left;
  width: 328px;
  height: 38px;
  border: 0;
  outline: none;
  border: 1px solid red;
}

.head .head_center .head_btn button {
  float: left;
  width: 70px;
  height: 100%;
  border: 0;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: red;
}

.head .head_center p {
  float: right;
}

.head .head_center p button {
  cursor: pointer;
  width: 70px;
  height: 30px;
  margin: 44px 20px;
}

.listCoent {
  width: 100%;
  background-color: #ccc;
  height: 100%;
  padding-top: 12px;
}

.listCoent .listHead {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 8px;
  font-size: 14px;
  background-color: white;
}

.listCoent .listHead .lh1, .listCoent .listHead .lh2, .listCoent .listHead .lh3, .listCoent .listHead .lh4 {
  float: left;
  color: #ababab;
  line-height: 50px;
  margin: 0 20px;
  height: 50px;
  cursor: pointer;
}

.listCoent .listHead .lh1 {
  width: 32px;
}

.listCoent .listHead .lh2, .listCoent .listHead .lh3 {
  width: 52px;
}

.listCoent .listHead .lh4 {
  width: 101px;
}

.listCoent .listHead .lh5 {
  width: 264px;
  color: #ababab;
}

.listCoent .listHead .lh5 .lH5:hover {
  padding-top: 0;
  padding-left: 19px;
  border: 1px solid black;
}

.listCoent .listHead .lh5 .lH5 {
  cursor: pointer;
  width: 394px;
  position: absolute;
  box-sizing: border-box;
  padding-top: 1px;
  padding-left: 20px;
  left: 392px;
  background-color: #fff;
}

.listCoent .listHead .lh5 .lH5 nav {
  float: left;
  display: none;
}

.listCoent .listHead .lh5 .lH5 nav li:hover {
  color: red;
}

.listCoent .listHead .lh5 .lH5 nav li {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.listCoent .listHead .lh5 .lH5 span:nth-child(1) {
  float: left;
  margin-top: 14px;
  font-size: 16px;
}

.listCoent .listHead .lh5 .lH5 .lhsure {
  float: left;
  width: 50px;
  height: 28px;
  margin: 11px 10px 0 15px;
  background-color: red;
  color: white;
  display: none;
}

.listCoent .listHead .lh5 .lH5 .lhclose {
  float: left;
  width: 50px;
  line-height: 50px;
  color: blue;
  display: none;
}

.listCoent .listHead .lh5 .lH5 .lhinp1,
.listCoent .listHead .lh5 .lH5 .lhinp2 {
  width: 40px;
  height: 28px;
  float: left;
  padding: 0 10px;
  border: 1px solid #eee;
  outline: none;
  margin-top: 10px;
}

.listCoent .listHead .lh5 .lH5 span:nth-child(3),
.listCoent .listHead .lh5 .lH5 span:nth-child(6) {
  font-size: 14px;
  width: 30px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #f9f9f9;
  margin-top: 10px;
}

.listCoent .listHead .lh5 .lH5 span:nth-child(4) {
  float: left;
  margin-top: 14px;
}

.listCoent .listHead .lh6 {
  position: absolute;
  color: #ababab;
  line-height: 50px;
  margin: 0 20px;
  height: 50px;
  cursor: pointer;
  right: 310px;
}

.listCoent .listHead .lh6 option {
  color: #ababab;
}

.listCoent .container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.listCoent .container .clist {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listCoent .container .clist li {
  height: 384px;
  cursor: pointer;
  margin-bottom: 20px;
}

.listCoent .container .clist li .lShop:hover {
  padding: 0;
  border: 1px solid red;
}

.listCoent .container .clist li .lShop:hover .lShop5 {
  background-color: red;
}

.listCoent .container .clist li .lShop:hover .lShop5 a {
  color: white;
}

.listCoent .container .clist li .lShop {
  width: 225px;
  height: 384px;
  box-sizing: border-box;
  padding: 1px;
  background-color: white;
}

.listCoent .container .clist li .lShop .lShop1 {
  width: 223px;
  height: 225px;
  margin-bottom: 10px;
}

.listCoent .container .clist li .lShop .lShop2 {
  width: 205px;
  height: 40px;
  font-size: 14px;
  padding: 0 10px;
  overflow: hidden;
}

.listCoent .container .clist li .lShop .lShop3 {
  width: 205px;
  height: 20px;
  font-size: 14px;
  padding: 8px;
}

.listCoent .container .clist li .lShop .lShop3 span:nth-child(1) {
  color: #e3554c;
  font-size: 14px;
}

.listCoent .container .clist li .lShop .lShop3 span:nth-child(2) {
  color: #ccc;
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 44px;
}

.listCoent .container .clist li .lShop .lShop4 {
  width: 205x;
  height: 21.6px;
  padding: 0 10px;
  color: #ccc;
  margin: 1px 0;
}

.listCoent .container .clist li .lShop .lShop5 {
  width: 205px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid red;
  margin-left: 10px;
  line-height: 35px;
  text-align: center;
  border-radius: 6px;
}

.cpage {
  height: 50px;
  cursor: pointer;
}

.foot {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.foot p:nth-child(1) {
  height: 14px;
  padding: 14px 0;
  font-size: 14px;
  color: #666;
}

.foot p:nth-child(2) {
  font-size: 14px;
  color: #666;
}
